<!--Partial for displaying an individual comic's data for all fields. To use, paste-->
<!--the following in an html file where the first reference to comic in the locals params-->
<!--is the name of the object variable in your html file that you want the partial to use.-->
<!--<%= render partial: "comic", locals: {comic: comic} %>-->

<span class="comic_data tbcontents"><%= comic.issue_num %></span>
<span class="comic_data tbcontents"><%= comic.series_title %></span>
<span class="comic_data tbcontents"><%= comic.story_arc %></span>
<span class="comic_data tbcontents"><%= comic.universe_id %></span>
<span class="comic_data tbcontents"><%= comic.publication_date %></span>
<span class="comic_data tbcontents"><%= comic.start_date %></span>
<span class="comic_data tbcontents"><%= comic.end_date %></span>
<span class="comic_data tbcontents"><%= comic.trade_id %></span>
<span class="comic_data tbcontents"><%= comic.author %></span>
<span class="comic_data tbcontents"><%= comic.status %></span>