<%= form_for(@comic) do |f| %>
  <% if @comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
      <% @comic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trade_id %><br>
    <%= f.number_field :trade_id %>
  </div>
  <div class="field">
    <%= f.label :issue_num %><br>
    <%= f.number_field :issue_num %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :publication_date %><br>
    <%= f.date_select :publication_date %>
  </div>
    <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
    <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :universe_id %><br>
    <%= f.text_field :universe_id %>
  </div>
    <div class="field">
    <%= f.label :series_title %><br>
    <%= f.text_field :series_title %>
  </div>
  <div class="field">
    <%= f.label :story_arc %><br>
    <%= f.text_field :story_arc %>
  </div>
    <div class="field">
     <%= f.label :status %><br>
     <%= select_tag(:city_id, options_for_select([[nil, 1], ['Purchased', 2], ['Received', 3], ['Read', 4]])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


