        <td class="comic_data"><%= comic.issue_num %></td>
        <td class="comic_data"><%= comic.series_title %></td>
        <td class="comic_data"><%= comic.story_arc %></td>
        <td class="comic_data"><%= comic.universe_id %></td>
        <td class="comic_data"><%= comic.publication_date %></td>
        <td class="comic_data"><%= comic.start_date %></td>
        <td class="comic_data"><%= comic.end_date %></td>
        <td class="comic_data"><%= comic.trade_id %></td>
        <td class="comic_data"><%= comic.author %></td>
        <td class="comic_data"><%= comic.status %></td>