
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>X-Men Library </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!--SIDE BAR START-->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <!--SIDE BAR END-->
        <!--OUTER TABLE START-->
        <h2 class="sub-header">Library</h2>
          <div class="table-responsive">
            <table id="customers" class="table table-striped">
                <tr bgcolor="#6699ff">
                  <th>Id</th>
                  <th>Trade #</th>
                  <th>Author</th>
                  <th>Series Title</th>
                  <th>Status</th>
                </tr>
                <% @trades.each do |t| %>
                  <tr class="btn" data-selector="<%= t.id %>">
                    <td><%= t.id %></td>  
                    <td><%= t.author %></td>
                    <td><%= t.publication_date %></td>
                    <td><%= t.series_title %></td>
                    <td><%= t.status %></td>
                  </tr>
                  <% if t.comics.empty? == false %>
                    <!--NESTED TABLE START-->
                    <tr class="<%= t.id %>" style="display:none;">
                      <th class="comic_header">Issue #</th>
                      <th class="comic_header">Series Title #</th>
                      <th class="comic_header">Story Arc</th>
                      <th class="comic_header">Universe</th>
                      <th class="comic_header">Publication Date</th>
                      <th class="comic_header">Start Date</th>
                      <th class="comic_header">End Date</th>
                      <th class="comic_header">Trade Id</th>
                      <th class="comic_header">Author</th>
                      <th class="comic_header">Status</th>
                    </tr>
                    <% t.comics.each do |comic| %> 
                      <tr class="<%= t.id %>" style="display:none;">
                        <%= render partial: "comic", locals: {comic: comic} %>
                      </tr>
                    <% end %>
                    <tr class="<%= t.id %>" style="display:none;">
                      <th>Id</th>
                      <th>Trade #</th>
                      <th>Author</th>
                      <th>Series Title</th>
                      <th>Status</th>
                    </tr>
                  <% end %>
                  <!--NESTED TABLE END-->
              <% end %>
            </table>
        </div>
         <!--OUTER TABLE END-->
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
