
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>X-Men Library</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>
  <body>
    
    
  <div id="wrapper">
    <% if @trades.empty? == false %>
      <div class="tbheadercontainer" float="left">
        <span class="tbheader">Id</span>
        <span class="tbheader">Trade #</span>
        <span class="tbheader">Series Title</span>
        <span class="tbheader">Status</span>
      </div>
      <% @trades.each_with_index do |t, index| %>
        <div class="btn tbcontents" data-selector="<%= t.id %>">
          <span id="div1" class="content"><%= t.id %></span>
          <span id="div2" class="content"><%= t.author%></span>
          <span id="div3" class="content"><%= t.publication_date %></span>
          <span id="div4" class="content"><%= t.series_title %></span>
          <span id="div5" class="content"><%= t.status %></span>
        </div>
        <% if t.comics.empty? == false %>
          <!--NESTED TABLE START-->
          <div class="tbheadercontainer <%= t.id %>" float="left" style="display:none;">
            <span class="tbheader comic_header">Issue #</span>
            <span class="tbheader comic_header">Series Title #</span>
            <span class="tbheader comic_header">Story Arc</span>
            <span class="tbheader comic_header">Universe</span>
            <span class="tbheader comic_header">Publication Date</span>
            <span class="tbheader comic_header">Start Date</span>
            <span class="tbheader comic_header">End Date</span>
            <span class="tbheader comic_header">Trade Id</span>
            <span class="tbheader comic_header">Author</span>
            <span class="tbheader comic_header">Status</span>
          </div>
          <% t.comics.each do |comic| %> 
            <div class="tbcontents <%= t.id %>" style="display:none;">
              <%= render partial: "comic", locals: {comic: comic} %>
            </div>
          <% end %>
          <% if @trades.size > index + 1 %>
            <div class="tbcontentcontainer <%= t.id %>" float="left" style="display:none;">
              <span class="tbheader comic_header">Id</span>
              <span class="tbheader comic_header">Trade #</span>
              <span class="tbheader comic_header">Author</span>
              <span class="tbheader comic_header">Series Title</span>
              <span class="tbheader comic_header">Status</span>
            </div>
          <% end %>
        <% end %>
        <!--NESTED TABLE END-->
      </br>
    <%end%>
    <% end %>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
