<%= form_for(@trade) do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% @trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :publication_date %><br>
    <%= f.date_select :publication_date %>
  </div>
  <div class="field">
    <%= f.label :series_title %><br>
    <%= f.text_field :series_title %>
  </div>
  <div class="field">
     <%= f.label :status %><br>
     <%= select_tag(:city_id, options_for_select([[nil, 1], ['Purchased', 2], ['Received', 3], ['Read', 4]])) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
